/* font-size, width, height, pixels */
/* Percent Values / Relative */
/*
em - RELATIVE depends on parent
1em = 16px default browser style
1em = base value
*/
/* 
rem - RELATIVE depends on root
1rem = 16px default browser style
*/
/* 
vh - height - percent of the screen
vw - width - percent of the screen
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* root */
html {
  font-size: 16px;
}

h1 {
  font-size: 60px;
  width: 200px;
  height: 200px;
  background: blue;
}

div {
  font-size: 16px;
}

.outer {
  width: 200px;
  height: 200px;
  background: rebeccapurple;
}

.inner {
  width: 50%;
  height: 50%;
  background: red;
}

.relative {
  font-size: 2rem;
}

.absolute {
  font-size: 32px;
}

.banner {
  width: 50vw;
  height: 50vh;
  background: red;
}

.header {
  width: 100vw;
  height: 100vh;
  background: blue;
}
