/* 
text-shadow
box-shadow
*/

/* Text shadow generator */
/* Box shadow generator */

h1 {
  /* X - Y - blur - color */
  text-shadow: 1px 2px 3px red;
}

.box {
  width: 200px;
  height: 100px;
  background: blue;
  margin: 20px;
  transition: all 0.5s linear;
}

.box:hover {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

/* Browser Prefixes */
/* goto caniuse.com */
