/* Color Properties */
/* Color Background-color */
/* RGBA 0-1 opacity/transparent */
/* 
HSL
HEX values #RRGGBB
123456789   A(10) B(11) C(12) D(13) E(14) F(15)
#FF0000 - RED
#00FF00 - GREEN
*/

#first {
  color: #8ef9f3;
  background: #c86fc9;
}

#second {
  color: rgb(45, 10, 34);
  background: rgba(0, 0, 0, 0.25);
}

#three {
  color: rgb(255, 0, 0);
  background: rgba(0, 0, 0, 0.175);
}

#four {
  color: rgb(0, 0, 255);
  background: rgba(0, 0, 0, 0.1);
}

body {
  background: rgba(100, 20, 200, 0.25);
}
